name: ci

on: [push]

jobs:
  run-phpunit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: php-actions/composer@v5
        with:
          php_version: 7.0

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        with:
          php_version: 7.0
          bootstrap: vendor/autoload.php
          args: --coverage-text
