name: ci

on: [push]

jobs:
  run-phpunit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [7.0, 7.1, 7.2, 7.3, 7.4]

    steps:
      - uses: actions/checkout@v3

      - uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php }}

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          version: 6
          php_version: ${{ matrix.php }}
          bootstrap: vendor/autoload.php
          args: --coverage-text
